<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Watermeteralert</title>
<style media="screen" type="text/css">
body { 
	margin:0; 
	padding:20px; 
	font:13px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	}
p,
table, caption, td, tr, th {
	margin:0;
	padding:0;
	font-weight:normal;
	}

p {
	margin-bottom:15px;
	}
table {
	border-collapse:collapse;
	margin-bottom:15px;
	width:90%;
	}
	
	caption {
		text-align:left;
		font-size:15px;
		padding-bottom:10px;
		}
	
	table td,
	table th {
		padding:5px;
		border:1px solid #fff;
		border-width:0 1px 1px 0;
		}
		
	thead th {
		background:#91c5d4;
		}
			
		thead th[colspan],
		thead th[rowspan] {
			background:#66a9bd;
			}
		
	tbody th,
	tfoot th {
		text-align:left;
		background:#91c5d4;
		}
		
	tbody td,
	tfoot td {
		text-align:center;
		background:#d5eaf0;
		}
		
	tfoot th {
		background:#b0cc7f;
		}
		
	tfoot td {
		background:#d7e1c5;
		font-weight:bold;
		}
			
	tbody tr.odd td { 
		background:#bcd9e1;
		}

</style>
<script type="text/javascript" src="jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="style-table.js"></script>
</head>
<body>
<table id="sensor" summary="Watermeteralert logging">

	<caption>Logging of <%= sensor.name %> with ID <%= sensor.sensorId %></caption>
    <thead>   
        <tr>
            <th scope="col">Liter</th>
            <th scope="col">Temperature</th>
            <th scope="col">Battery</th>
			<th scope="col">Date</th>
        </tr> 
    </thead>
    <tbody>
		<% sensorlogs.forEach(function(sensorlog){ %>
		<tr>
            <td><%= sensorlog.value1 %>l</td>
            <td><%= sensorlog.value2 %>C</td>
            <td><%= sensorlog.value3 %>V</td>
			<td><%= sensorlog.timestamp %></td>
		<%  }) %>
    </tbody>
</table>

<p>Demo by: G-DC</p>

</body>
</html>