<!doctype html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
</head>
<body>
	<div class="container">
	<div class="page-header text-center">
		<h1>Sensor battery</h1>
    </div>
    <div class="well">
        <div class="row">
        <table style="width:100%">
        <col width="20%">
        <col width="60%">
        <col width="20%">
        <tr>
          <td><form action="/profile">
           <left><input type="submit" value="Go to Dashboard" class="btn btn-default"> </left> 
          </form></td>
          <td><center>Logging of <%= sensor.name %> with ID <%= sensor.sensorId %></center></td> 
          <td> </td>
        </tr>
        </table>
      <center>
        <form action="/datesensorbattery" method="post">
        <div class="form-group">
        <input type="hidden" class="form-control" value = <%= sensor.sensorId%> name="sensorId">
        <b>Start: </b><input type="date" name="startdate" value=<%=startdate%>><b> End: </b><input type="date" name="enddate" value=<%=enddate%>> <button type="submit" class="btn btn-default" value="datefindgraph" name="datefindgraph"> Find</button>
        </div>
        </form>
      </center>
      
    </div>
</div>
 <div class="well">
                <div class="row">
			
		<h2>Vcc</h2>
		<div id="volt"></div><br>
</div>
</div>

<script>
var Battery_data = [
<% sensorlogs.forEach(function(sensorlog){ %>
  {"Period": <%= dateFormat(sensorlog.timestamp) %>, "Battery": <%= sensorlog.value3 %>},
<%  }) %>
];
Morris.Line({
  element: 'volt',
  data: Battery_data,
  xkey: 'Period',
  ykeys: ['Battery'],
  labels: ['Battery'],
  dateFormat: function (x) { return new Date(x).toDateString(); }
});

function Datems() {
    document.getElementById("demo").innerHTML = "Paragraph changed.";
}
</script>
</body>
